NET "RST" LOC= P59;
NET "CLK" LOC= P56;
NET "RD" LOC = p26;
NET "WR" LOC = p23;
NET "RXF" LOC = P21;
NET "TXE" LOC = P16;
NET "DATA_IO[7]" LOC = P40;
NET "DATA_IO[6]" LOC = P32;
NET "DATA_IO[5]" LOC = P34;
NET "DATA_IO[4]" LOC = P47;
NET "DATA_IO[3]" LOC = P29;
NET "DATA_IO[2]" LOC = P45;
NET "DATA_IO[1]" LOC = P43;
NET "DATA_IO[0]" LOC = P50;
